@import "variables";

/*Background Image SCSS*/
.bg {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    padding: 250px 0;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #333;
        opacity: .60;
        z-index: -1;
    }
}
.mx-auto{
    margin: 0 auto;
}
/*Padding & Margin*/
 @for $i from 1 through 10{
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }
 }
 @for $i from 1 through 10{
    .pb-#{$i * 10}{
        padding-bottom: $i * 10px;
    }
 }
 @for $i from 1 through 10{
    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }
 }
 @for $i from 1 through 10{
    .mb-#{$i * 10}{
        margin-bottom: $i * 10px;
    }
 }
$align: left,center,right,justify;
@each $i in $align {
    .text-#{$i} {
        text-align: $i;
    }
}
/*Flex Css*/
$flex:flex,inline-flex;
@each $i in $flex {
    .d-#{$i} {
        display: $i;
    }
}
$justify:start ,center, end , evenly, space-between, space-around;

@each $i in $justify {
    .justify-content-#{$i} {
        justify-content: $i;
    }
}
$aling-items:start ,center, end , stretch, baseline;

@each $i in $aling-items {
    .aling-items-#{$i} {
        align-items: $i;
    }
}

