/*Common Color*/
$white:#fff;
$black:#333;
$gray:#eee;
$bg:#0f1113;
/*Theme color*/
$heading_color: #ff3636;
$primary_color: #ff3636;
$link_hover:#ff3636;
$link_color: #333;
$border_color: #333;
$btn_background: #ff3636;
$btn_color: #ff3636;
$btn_hover: #333;
$bg-gray:#f6f6f6;
$count-bg:#0f1113;
$border-bottom:#f3f3f3;