.banner-area {
    height: 100vh;
    .banner-content{
        padding: 50px;
        h1{
           color: $white;
           font-size: 76px;
           font-weight: 700;
           text-transform: capitalize;
        }
        h4{
          font-size: 25px;
          color: $white;
          text-transform: capitalize;  
        }
        a{
          margin:30px 5px 0 5px;
          transition: .3s;
        }
    }
}
