.header{
    color: #fff;
}
.header-area {
    padding: 20px 0;
}
    .logo {
        a{
        display: inline-block;
        text-transform: uppercase;
        color: #333;
        font-size: 24px;
        font-weight: 700;
        padding: 15px 10px;
        border: 1px solid #333;
        }
    }
.menu{
    ul{
        li{
            a{
                display: block;
                color: $link-color;
                font-size: 16px;
                font-weight: 600;
                margin-left: 15px;
                text-transform: uppercase;
                transition: .3s;
                &:hover{
                    color: blue;

                }
            }
        }
    }
}

