.service-area{
    .section-title{
        h2{
          font-size: 50px;
          font-weight: 800;
          line-height: 60px;
          color: $primary_color;
          text-transform: capitalize;
        }
        p{
            
        }
    }
    .single-service{
        i{

        }
        h4{

        }
        p{

        }
    }
}