.team-area{
    .single-team{
        position: relative;
        overflow: hidden;
        &:hover{
            .team-overlay{
                bottom: 0;
            }
        }
      img{
        width: 100%;
      }
      .team-overlay{
        position: absolute;
        bottom: -58px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: rgb(51 51 51 / 60%);
        transition: 0.3s;
        h4{
          text-transform: capitalize;
          color: $white;
          font-size: 22px;
        }
        a{
            color: $white;
            margin: 0 5px;
            transition: .3s;
            &:hover{
                color: $primary_color;
            }
        }
      }
    }
}